<div class="wrapper_Home">
  <div class="content_Home">
    <div class="intro">
      <h1>LEGAL TEXT ?</h1>
      <h2>Yes. They can be quite confusing...</h2>
      <p>
        UCM.search is a platform in which you can search for simplificated
        interpretation of legal text.
      </p>
      <p>
        Our main focus is to be there <b><i>with you</i></b> side-by-side during your journey
        as company leader.
      </p>
      <div class="search-container">
        <form>
          <input type="text" placeholder="Search.." name="search" />
          <button type="submit"><img src="../../../assets/search.svg"></button>
        </form>
      </div>
    </div>
  </div>
</div>
