<div class="wrapper_Question">
  <div class="content_Question">
    <div class="question">
      <h1>{{ this.info.question }}</h1>
    </div>
    <div class="answers">
      <div class="items">
        <div class=" sub answer">
          <p>{{ this.info.answer }}</p>
        </div>
        <div class=" sub down_Vote">
          <p>👎{{ this.info.downvotes }}</p>
        </div>
        <div class=" sub up_Vote">
          <p>👍{{ this.info.upvotes }}</p>
        </div>
      </div>
    </div>
    <div>
      <p>{{ this.info.legal_text }}</p>
    </div>
  </div>
</div>
