<div id="content">
  <div class="questionComponent">
    <p>Votre question s'affiche ici :</p>

  </div>

  <div class="responseComponent">
    <div class="responses">
      <li>La réponse à votre question </li>

    </div>
    <div class="usefull">
      <div> usefull ?</div>

      <div class="buttonup">
        <input type="radio" id="huey" name="drone" value="huey" checked>
        <label for="huey">good</label>
      </div>

      <div class="buttondown">
        <input type="radio" id="dewey" name="drone" value="dewey">
        <label for="dewey">bad</label>
      </div>
    </div>


  </div>
</div>
