.wrapper_Account {
  width: 100vw;
  height: 100vh;

  .content_Account {
    margin-top: 3.1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .left_Col {
        width: 19%;
        height: 100%;
        border: 1px solid #219edf;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #8ACDEA;

        p {
           color: white;
        }

        img {
            margin: 2rem 0 0 0;
            width: 4rem;
            height: auto;
        }
    }

    .center_Col {
        width: 79%;
        height: 100%;
        border: 1px solid #219edf;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: #8ACDEA;

        .center_Left {
                width: 55%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

            div {
                border: 1px solid #219edf;
                border-radius: 0.5rem;
                background: white;
            }

            .waiting_Questions {
                width: 100%;
                height: 25%;
                display: flex;
                flex-direction: column;

                h4 {
                    margin-bottom: 2rem;
                }

            }
            .historic {
                width: 100%;
                height: 25%;

                h4 {
                    margin-bottom: 2rem;
                }
            }
            .answers_Pending {
                width: 100%;
                height: 25%;

                h4 {
                    margin-bottom: 2rem;
                }
            }
        }

        .center_Right {
            height: 91%;
            width: 35%;
            border: 1px solid #219edf;
            border-radius: 0.5rem;
            background: white;
            display: flex;
            flex-direction: column;
            align-items: center;

            h4 {
                margin-bottom: 2rem;
            }
        }
    }
  }
}
