<div class="wrapper_Account">
  <div class="content_Account">
    <div class="left_Col">
      <img src="../../../assets/logouser.svg" />
      <p>Pseudo : Serge</p>
      <p>Community Member</p>
      <select>
        <option value="" disabled selected>I 'm reaching retirement age</option>
        <option> </option>
      </select>
    </div>
    <div class="center_Col">
      <div class="center_Left">
        <div class="waiting_Questions">
          <h4>You questions waiting for an answer :</h4>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit, molestias?</span
          >
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit, molestias?</span
          >
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit, molestias?</span
          >
        </div>
        <div class="historic">
          <h4>You Historic :</h4>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit, molestias?</span
          >
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit, molestias?</span
          >
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit, molestias?</span
          >
        </div>
        <div class="answers_Pending">
          <h4>Your answer waiting for Specialist review :</h4>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit, molestias</span
          >
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit, molestias</span
          >
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit, molestias</span
          >
        </div>
      </div>
      <div class="center_Right">
        <h4>Your personnal assistant :</h4>
        <div class="gooey">
            <span class="dot"></span>
            <div class="dots">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        <div id="watson">
            <p class="speech-bubble">Good evening Serge,</p>
          <div id="generated" *ngFor="let msg of this.messages">
            <p class="speech-bubble" *ngIf="msg.type === 'text'">{{ msg.text }}</p>
            <div id="more" *ngIf="!OptionsShown" >
            <p class="speech-bubble" *ngIf="msg.type === 'option'">{{ msg.text }}</p>
              <div *ngIf="msg.type === 'option'">
              <button
                *ngFor="let option of msg.options"
                (click)="this.sendToWatson(option.value.input.text); toggleShowOptions()"
              >
                {{ option.label }}
            </button>
            </div>
          </div>
          </div>
        </div>
        <input
        type="text"
        placeholder="What else can I help you with?"
        name="talkwithwatson"
      />
      </div>
    </div>
  </div>
</div>
