<div class="wrapper_Search">
  <div class="content_Search">
    <div class="search-container">
      <form onsubmit="return false">
        <input #search type="text" placeholder="Search.." name="search" />
        <button type="button" (click)="searchFnc(search.value)">
          <img src="../../../assets/search.svg" />
        </button>
      </form>
    </div>
    <div *ngIf="this.fetchService.resultSearch != null" class="results">
      <div *ngFor="let res of this.fetchService.resultSearch" class="items">
        <div class=" sub sector">
          <p *ngFor="let dom of res.job_domains">{{ dom.label }}</p>
        </div>
        <div class=" sub category">
          <p *ngFor="let cat of res.categories">{{ cat.label }}</p>
        </div>
        <div class=" sub question " (click)="moveTo(res.id)">
          {{ res.question }}
        </div>
      </div>
    </div>
  </div>
</div>
