<div class="wrapper_Search">
  <div class="content_Search">
    <div class="search-container">
      <form onsubmit="return false">
        <input
          #search
          type="text"
          placeholder="Search.."
          name="search"
          (keydown)="onKeydown($event, search.value)"
        />
        <button type="button" (click)="searchFnc(search.value)">
          <img src="../../../assets/search.svg" />
        </button>
      </form>
    </div>
    <div *ngIf="this.fetchService.resultSearch != null" class="results">
      <div *ngFor="let cat of this.fetchService.resultSearch" class="items">
          <div class="items" id="zero">
        <div class="category example">Category</div>
        <div class="description example">Description</div>
        <div class="match example">Match</div>
      </div>
        <div class="category sub">
          {{ cat.category }}
        </div>
        <div class="description sub">
          {{ cat.descCat }}
        </div>
        <div class="match sub">2/63</div>
      </div>
    </div>
  </div>
</div>
