<div *ngIf="SignUpisShown" class="wrapper_Signup">
  <div class="content_Signup">
    <form>
      <div class="doubleinput">
        <label for="firstname"></label
        ><input
          #firstname
          class="firstname"
          name="firstname"
          type="text"
          placeholder="First Name"
          required
        />
        <label for="lastname"></label
        ><input
          #lastname
          class="lastname"
          name="lastname"
          type="text"
          placeholder="Last Name"
          required
        />
      </div>
      <label for="email"></label
      ><input
        #email
        class="email"
        name="email"
        type="text"
        placeholder="E-mail"
        required
      />
      <label for="password"></label
      ><input
        #password
        class="password"
        name="password"
        type="password"
        placeholder="Password"
        required
      />
      <label for="password-repeat"></label
      ><input
        #password
        class="password"
        name="password"
        type="password"
        placeholder="Repeat Password"
        required
      />
      <select *ngIf="this.jobdomains != null">
        <option value="" disabled selected>Activity Sector</option>
        <option
          *ngFor="let active of this.jobdomains"
          value="{{ active.label }}"
          >{{ active.label }}</option
        >
      </select>
      <select *ngIf="this.pathSteps != null">
        <option value="" disabled selected>Path Progression</option>
        <option *ngFor="let step of this.pathSteps" value="{{ step.label }}">{{
          step.label
        }}</option>
      </select>
      <select *ngIf="this.legalstatus != null">
        <option value="" disabled selected>Legal Entity Type</option>
        <option
          *ngFor="let legal of this.legalstatus"
          value="{{ legal.label }}"
          >{{ legal.label }}</option
        >
      </select>
      <select *ngIf="this.selfemplyedstatus != null">
        <option value="" disabled selected>Work Status</option>
        <option
          *ngFor="let self of this.selfemplyedstatus"
          value="{{ self.label }}"
          >{{ self.label }}</option
        >
      </select>
      <p *ngIf="!this.selfemplyedstatus">
        Loading...
      </p>
      <button type="button">
        Sign In
      </button>
    </form>
  </div>
  <svg
    (click)="toggleShowSignUp()"
    viewPort="0 0 12 12"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line x1="1" y1="11" x2="11" y2="1" stroke="#219edf" stroke-width="2" />
    <line x1="1" y1="1" x2="11" y2="11" stroke="#219edf" stroke-width="2" />
  </svg>
</div>
